/* Write your CSS here */
.big-container {
  background-color: #ffc2a0;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small-container {
  background-color: #ffffff;
  background-size: cover;
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ff8542;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}
.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
